{% extends "layout.html" %} 

{% block main %}
	<main class="d-flex align-items-center" style="height: 95vh;">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 m-auto">
					<div class="card bg-light border-3 p-2">
						<div class="card-body text-center">
							<h1 class="card-title text-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
									<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
									<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
								  </svg>
								</svg>
								<span class="align-middle fw-bold fs-3">Oups! Erreur détectée</span>
							</h1>
							<p class="card-text p-2 fs-5">
								{{ error.message }}<br>
								Veuillez-nous en excuser.<br>
							</p>
							<a href="{{ index }}" class="btn btn-primary">Retour à la page d'accueil</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
